<%layout("/layouts/boilerplate")%>
<!-- <body>
    <h3>Edit this listing</h3>
    <form action="/listings/<%=listing._id%>?_method=put" method="post">
        <input type="text"name="listing[title]"placeholder="Enter the title" value="<%=listing.title%>">
        <br><br>
        <textarea name="listing[description]" placeholder="Give Description" ><%=listing.description%></textarea>
        <br><br>
        <input type="text"name="listing[image]"placeholder="Upload Image" value="<%=listing.image%>">
        <br><br>
        <input type="text"name="listing[country]"placeholder="Enter Country" value="<%=listing.country%>">
        <br><br>
        <input type="text" name="listing[location]"placeholder="Enter Location" value="<%=listing.location%>">
        <br><br>
        <input type="number"name="listing[price]"placeholder="Enter Price"  value="<%=listing.price%>">
        <br><br>

        <button>Save</button>
    </form>
    
</body> -->
<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
    <div class="col-8 offset-2">
    <h3>create new listing</h3>
    <form action="/listings/<%=listing._id%>?_method=put" method="post" novalidate class="needs-validation">
    <div class="mt-3">
        <label for="title" class="form-label"><b>Title</b></label>
        <input type="text"name="listing[title]"placeholder="Enter the title" class="form-control"value="<%=listing.title%>" required>
        <div class="valid-feedback">title looks good</div>
    </div>
        
        <div class="mt-3">
            <label for="description" class="form-label"><b>Description</b></label>
            <textarea name="listing[description]" placeholder="Give Description" class="form-control" required>"<%=listing.description%>"</textarea>
             <div class="invalid-feedback">please provide description</div>
        </div>
        
        <div class="mt-3">
            <label for="image" class="form-label"> <b>Image</b></label>
            <input type="text"name="listing[image]"placeholder="Upload Image"class="form-control"value="<%=listing.image%>" required>
             <div class="invalid-feedback">link for image is missing</div>
        </div>
        
        <div class="row">

            
            <div class="col-md-8 mt-3">
                <label for="location" class="form-label"><b>Location</b></label>
                <input type="text" name="listing[location]"placeholder="Enter Location"class="form-control"value="<%=listing.location%>" required>
                 <div class="invalid-feedback">please enter location</div>
            </div>

            <div class="col-md-4 mt-3">
                <label for="country"class="form-label"> <b>Country</b></label>
                <input type="text"name="listing[country]"placeholder="Enter Country"class="form-control" value="<%=listing.country%>" required>
                 <div class="invalid-feedback">enter the country field</div>
            </div>


            
        </div>
        
       
       <div class="mt-3">
        <label for="price"class="form-label"><b>Price</b></label>
        <input  name="listing[price]"placeholder="Enter Price"class="form-control" value="<%=listing.price%>" required>
         <div class="invalid-feedback">enter the price in correct format</div>
    </div>
        
        
<br>
        <button class="btn btn-danger">Save</button>
        <br><br>
    </form>
</div>
</div>
</body>

